---
import { Content as MarkdownContent, getHeadings } from "../mdContents/about.mdx";
import BaseLayout from '../layouts/BaseLayout.astro'
const headings = getHeadings();
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <ViewTransitions />
</head>
<body>
    <BaseLayout pageTitle="About", headings={headings}>
    <MarkdownContent />
    </BaseLayout>
</body>
</html>